[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "netknitr"]
	path = netknitr
	url = https://github.com/cran/netknitr
[submodule "shinyr"]
	path = shinyr
	url = https://github.com/cran/shinyr
